body{
    margin: 0;
}
.suggestion{
    margin-top: 50px;
    text-align: center;
}

.container{
  margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

h1{
    font-size: 20px;
}

.slider-container{
    margin: 0 auto;
    /* border: 2px solid black; */
    width: 95%;
    /* height:500px; */
}
nav {
    z-index: 2;
}

footer{
  width: 100%;
  text-align: center;
}

.slides {
   z-index: 1;
}

.slides .slick-prev,
.slides .slick-next {
  /* position: absolute; */
  /* top: 50%; */
  /* z-index: 1; */
  background-color: black;
}


/* .slides {
    position: relative;
  }
  


.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}  */


